.app-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #4CAF50; /* Green background */
  color: white;
  flex-wrap: wrap;
}

.logo-container {
  margin-right: 40px;
}

.logo-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 90px;
}
