.app-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #4CAF50; /* Green background */
  color: white;
  flex-wrap: wrap;
}

.logo-container {
  margin-right: 90px;
}

.logo-image {
  border-radius: 190px;
  object-fit: contain;
  width: 180px;
}
